.osw-font-system {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
.osw-font-sans {
    font-family: Arial, Helvetica, "Liberation Sans", sans-serif, Verdana;
}
.osw-font-serif {
    font-family: "Times New Roman", Georgia, "Liberation Serif", serif, Garamond;
}
.osw-font-mono {
    font-family: Consolas, "JetBrains Mono", "Fira Code", "Courier New", monospace, "Lucida Console";
}
.osw-font-cursive {
    font-family: cursive;
}
.osw-font-fantasy {
    font-family: fantasy;
}